body {
  margin: 20px;
}
#search-form {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
}
.searchQuery {
  height: 31px;
  border: 0;
  width: 330px;
  font-size: 20;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#search-form button {
  height: 30px;
  width: 32;
  border: 0;
  border-radius: 3px;
  position: relative;
  left: -34px;
}
.icon {
  scale: 1.2;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
#search-form button:hover {
  cursor: pointer;
}
#search-form button:hover .icon {
  fill: grey;
}

.gallery {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 60px;
  column-gap: 25px;
  flex-wrap: wrap;
}

.photo-card {
  border-bottom: 1px solid #000;
}

.image img {
  width: 400px;
  height: 270px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 15px;
  flex-wrap: wrap;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load-more {
  font-size: 26px;
  width: 150px;
  height: 50px;
  background-color: blue;
  color: #fff;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  border: 0;
  margin-bottom: 40px;
}
.load-more:hover {
  opacity: 0.6;
  cursor: pointer;
}
